/*font-family: 'Crimson Pro', serif;
font-family: 'Lato', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #b9a7e9;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    background-color: #D9CDF7;
    position: relative;
    width: 960px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 30px 2px rgba(0, 0, 0, 0.212);
}
.img-sofa{
    position: absolute;
    top: 130px;
    left: 50px;
}
.img-360{
    position: absolute;
    top: 130px;
    left: 400px;
}
.textos{
    position: absolute;
    top: 170px;
    left: 510px;
    font-family: 'Lato', sans-serif;
}
.textos > h1{
    font-family: 'Crimson Pro', serif;
    font-weight: 600;
    color: #271A45;
    padding-bottom: 11px;
}
.textos > h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #271A45;
    font-weight: 300;
}
.textos > p{
    font-size: .8em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #271A45;
    padding-bottom: 25px;
}
.btn{
    position: absolute;
    top: 310px;
    left: 510px;
}
.btn:hover{
    top: 308px;
    left: 508px;
}